@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Primary colors */
/*Neutral colors */
/* Family fonts */
/* font size: 18px (name and stats) */
:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #19a2ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  overflow: hidden;
}

.img-circles {
  position: absolute;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

#img-top {
  background-image: url(images/bg-pattern-top.svg);
  width: 500px;
  height: 500px;
  top: -250px;
  left: -300px;
}

#img-bottom {
  background-image: url(images/bg-pattern-bottom.svg);
  width: 800px;
  height: 800px;
  bottom: -380px;
  right: -600px;
}

#card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 100%;
  height: 400px;
  max-height: 500px;
  width: 85%;
  max-width: 380px;
  min-width: 300px;
  overflow: hidden;
  z-index: 2;
}

#card #card-top {
  background-image: url(images/bg-pattern-card.svg);
  background-size: fit;
  background-position: center;
  width: 100%;
  height: 35%;
}

#card #card-pic {
  position: absolute;
  background-image: url(images/image-victor.jpg);
  background-size: cover;
  background-position: center;
  width: 105px;
  height: 105px;
  top: 85px;
  border: 5px solid white;
  border-radius: 50%;
  z-index: 3;
}

#card #card-mid {
  width: 100%;
  height: 40%;
  font-weight: bold;
  word-spacing: .1em;
  text-align: center;
}

#card #card-mid :nth-child(1) {
  font-size: 1.1em;
  color: #2d3248;
  margin-top: 75px;
}

#card #card-mid :nth-child(1) span {
  color: #969696;
  font-weight: normal;
  font-size: 1em;
}

#card #card-mid :nth-child(2) {
  font-weight: normal;
  color: #969696;
  font-size: .9em;
  margin-top: 12px;
}

#card #card-bottom {
  width: 100%;
  height: 25%;
  border-top: 1px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card #card-bottom .stat-box {
  margin: 0 16px;
  text-align: center;
}

#card #card-bottom .stat-box :nth-child(1) {
  font-weight: bold;
  color: #2d3248;
  font-size: 1.1em;
}

#card #card-bottom .stat-box :nth-child(2) {
  margin: 2px 0;
  color: #969696;
  font-size: .6em;
  line-height: 2em;
  letter-spacing: .1rem;
}

@media screen and (min-width: 900px) {
  #img-top {
    width: 900px;
    height: 900px;
    top: -400px;
    left: -200px;
  }
  #img-bottom {
    width: 950px;
    height: 950px;
    bottom: -500px;
    right: -200px;
  }
  .stat-box {
    padding: 0 18px;
  }
}
/*# sourceMappingURL=index.css.map */